<div class="astronomer-blog-section">
	<span>
	  <img class="astronomer-badge" src="/material/assets/images/astronomer-badge.png">
	</span>
	<div class="astronomer-section-title mdl-typography--display-1-color-contrast">
	  More from the Astronomers
	</div>
	<div class="astronomer-card-container mdl-grid">
	  {{#foreach posts}}
		{{> post_card }}
	  {{/foreach}}
	</div>
	<div>
		<img class="blog-background" src="/material/assets/images/blog-background.png">
	</div>
</div>