<div class="astronomer-blog-section">
	<span>
	  <a href="/blog"><img class="astronomer-badge" src="/material/assets/images/astronomer-badge.png"></a>
	</span>
	<div class="post-layout">
		<div class="astronomer-card-container mdl-grid">
		  {{#foreach posts}}
			{{> post_card }}
		  {{/foreach}}
		</div>
		<div class="visit-blog">
			<a class="astronomer-link" href="/blog">
				Visit the Blog
				<i class="material-icons">chevron_right</i>
			</a>
		</div>
	</div>
</div>
