<div class="astronomer-blog-section">
	<span>
	  <img class="astronomer-badge" src="/material/assets/images/astronomer-badge.png">
	</span>
	<div class="astronomer-section-title mdl-typography--display-1-color-contrast">
	  More from the Astronomers
	</div>
	<div class="post-layout">
		<div class="astronomer-card-container mdl-grid">
		  {{#foreach posts}}
			{{> post_card }}
		  {{/foreach}}
		</div>
		<div class="visit-blog">
			<a class="astronomer-link" href="">
				Visit the Blog
				<i class="material-icons astronomer-link">chevron_right</i>
			</a>
		</div>
	</div>
</div>