{{!< default}}

    <div class="astronomer-drawer mdl-layout__drawer">
      <!-- Adds an opaque black layer for image contrast-->
      <div class="astronomer-drawer-overlay"></div>
      <span class="mdl-layout-title">
        <img class="astronomer-logo-image" src="/material/assets/images/astronomer-logo.png">
      </span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link astronomer-link" href="">Sign Up</a>
        <a class="mdl-navigation__link" href="">Login</a>
        <a class="mdl-navigation__link" href="">Features</a>
        <a class="mdl-navigation__link" href="">Pricing</a>
        <a class="mdl-navigation__link" href="">Dev Hub</a>
        </nav>
    </div>

