{{!< default}}

    <div class="astronomer-drawer mdl-layout__drawer">
      <!-- Adds an opaque black layer for image contrast-->
      <div class="astronomer-drawer-overlay"></div>
      <span class="mdl-layout-title">
        <a href="/"><img class="astronomer-logo-image" src="/material/assets/images/astronomer-logo.png"></a>
      </span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/features">Features</a>
        <a class="mdl-navigation__link" href="/pricing">Pricing</a>
        <a class="mdl-navigation__link" href="http://docs.astronomer.io">Docs</a>
        <a class="mdl-navigation__link" href="https://app.astronomer.io">Login</a>
        <a class="mdl-navigation__link signup-link" href="https://app.astronomer.io/signup">Sign Up for Free</a>
        </nav>
    </div>
