{{!< default}}

    <div class="astronomer-drawer mdl-layout__drawer">
      <!-- Adds an opaque black layer for image contrast-->
      <div class="astronomer-drawer-overlay"></div>
      <span class="mdl-layout-title">
        <img class="astronomer-logo-image" src="/material/assets/images/astronomer-logo.png">
      </span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link astronomer-link" href="https://app.astronomer.io/signup">Sign Up</a>
        <a class="mdl-navigation__link" href="https://app.astronomer.io">Login</a>
        <a class="mdl-navigation__link" href="/features">Features</a>
        <a class="mdl-navigation__link" href="/pricing">Pricing</a>
        <a class="mdl-navigation__link" href="http://docs.astronomer.io">Dev Hub</a>
        </nav>
    </div>

