<footer class="astronomer-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section footer-logo">
      <span>
        <img src="/material/assets/images/astronomer-a.png?v=2">
      </span>
    </div>
    <div class="footer-options">
      <div class="mdl-mega-footer--left-section footer-sub-left">
        <a href ="/features"><p class="mdl-typography--font-light">Features</p></a>
        <a href ="/pricing"><p class="mdl-typography--font-light">Pricing</p></a>
        <a href ="http://docs.astronomer.io"><p class="mdl-typography--font-light">Dev Hub</p></a>
        <a href ="/blog"><p class="mdl-typography--font-light">Blog</p></a>

        <a href ="mailto:ry@astronomer.io"><p class="mdl-typography--font-light">Contact</p></a>
      </div>
      <div class="mdl-mega-footer--left-section footer-sub-middle">
        <a href ="https://angel.co/astronomer"><p class="mdl-typography--font-light">AngelList</p></a>
        <a href ="https://www.crunchbase.com/organization/astronomer"><p class="mdl-typography--font-light">CrunchBase</p></a>
        <a href ="https://www.facebook.com/astronomerio"><p class="mdl-typography--font-light">Facebook</p></a>
        <a href ="https://www.linkedin.com/company/astronomer"><p class="mdl-typography--font-light">LinkedIn</p></a>
        <a href ="https://www.twitter.com/astronomerio"><p class="mdl-typography--font-light">Twitter</p></a>
      </div>
      <div class="mdl-mega-footer--left-section footer-sub-right">
        <p class="mdl-typography--font-light">© 2015 Astronomer, Inc.</p>
        <p class="mdl-typography--font-light"><a href="http://startupcincy.com/">#StartupCincy</a></p>
      </div>
    </div>
    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        Back to Top
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>
</footer>
