<footer class="astronomer-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
      <p class="mdl-typography--font-light">© 2015 Astronomer, Inc.</p>
      <p class="mdl-typography--font-light">#StartupCincy</p>
    </div>
    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        Back to Top
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>
</footer>

<div class='spotify-widget'>
  <iframe src="https://embed.spotify.com/?uri=spotify:user:benjamingregory:playlist:0rInx8feyhTflZJukkPEv1" width="600" height="100" frameborder="0" allowtransparency="true"></iframe>
</div>