    <header class="custom-header mdl-layout__header mdl-layout__header--scroll" style="background-color: transparent;">
        <div class="mdl-layout__header-row">
            <span class="astronomer-title mdl-layout-title">
              <img class="astronomer-logo-image" src="/material/assets/images/astronomer-logo.png">
            </span>

            <div class="mdl-layout-spacer"></div>
            <nav class="astronomer-navigation mdl-navigation mdl-layout--large-screen-only">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Features</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Pricing</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Dev Hub</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Login</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase astronomer-sign-up" href="">Sign Up</a>
            </nav>
        </div>
    </header>
