<div class="astronomer-info">
  <span>
    <img class="horizon-line" src="/material/assets/images/horizon-line.png">
  </span>
  <div class="learn-more-text">
    <p>An astronomer studies stars, planets, moons, comets, and galaxies to help the rest of us understand our universe. <span class="astronomer-data-text">We do the same thing with data and analytics — to help you better understand your customers.</span></p>
    <div class="mdl-card__actions astronomer-reverse-endent">
       <a class="astronomer-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/features">
         Learn More
          <i class="material-icons">chevron_right</i>
       </a>
    </div>
 </div>

</div>
