<div class="astronomer-info">
  <span>
    <img class="horizon-line" src="/material/assets/images/horizon-line.png">
  </span>
  <div class="learn-more-text">
    <p>
      With the explosion of big data, a crucial role has emerged to make sure this data is clean and accessible for <span style="color:#F2471C"> data scientists</span>. These are the <span style="color:#FCA60D">data engineers</span>.
      <br>
      <br>
      <span style="color: #009c8d;">
        We help them make data usable.
      </span>
    </p>
    <div class="mdl-card__actions astronomer-reverse-endent">
       <a class="astronomer-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/features">
         Learn More
          <i class="material-icons" style="top: 3px;">chevron_right</i>
       </a>
    </div>
  </div>
  <div class="connected-image">
    <img src="/material/assets/images/connected.png">
  </div>
</div>
