body {
  margin: 0;
  background-color: #433252;
  font-family: 'Avenir Next Cyr W00 Regular';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Next Cyr W00 Regular';
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #ACD8FF;
}

::selection {
  background-color: #ACD8FF;
}


/* HEADER/NAV */

.custom-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

.mdl-layout__header-row {
  height: 58px;
}

.mdl-textfield--expandable {
  width: auto;
}

.astronomer-mobile-title {
  display: none !important;
}

.astronomer-logo-image {
  width: 200px;
  padding-top: 25px;
}

.astronomer-header {
  overflow: visible;
}

.custom-header .mdl-navigation__link {
  color: #9d907f;
  font-size: 17px;
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  padding-top: 21px;
  border-bottom: 4px solid transparent;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.custom-header .astronomer-sign-up{
  color: #faa42c;
}


.demo-header{
  border-width: 1px;
  border-style: solid;
  color: #faa42c;
  border-color: #faa42c;
  background-color:#433252;
  text-decoration: none;
  padding:5px 10px 6px;
  border-radius: 5px;
  font-size: 100%;
}



.demo-header:hover {
  background-color: #faa42c;
  border-color: #faa42c;
  color:#433252;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
/*  -moz-box-shadow: 0px 0px 7px #9d907f;
  -webkit-box-shadow: 0px 0px 7px #9d907f;
  box-shadow: 0px 0px 7px #9d907f;*/
}

.astronomer-drawer .demo-header{
  background-color: transparent;
}

.astronomer-drawer .demo-header:hover{
  background-color: #f98d00;
}

.astronomer-navig ation .mdl-navigation__link:hover {
  color: #f3d1a5;
}

.mdl-layout__drawer-button {
  display: none;
  background: transparent;
  color: #9d907f;
}

.astronomer-drawer {
  border-right: none;
  background: url('assets/images/astro-dino.jpg') center no-repeat;
  background-size: auto 100%;
}

.astronomer-drawer .astronomer-drawer-overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}

.astronomer-drawer .mdl-navigation__link {
  color: #9d907f;
  position: relative;
  font-size: 15px;
  background-color: transparent !important;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.astronomer-drawer .mdl-navigation__link:hover {
  color: #f3d1a5;
}

.astronomer-drawer .astronomer-logo-image {
  position: relative;
  top: 20px;
}

/* HOME PAGE */
.intro-section {
  padding: 7%;
}

.intro-section p{
  font-size: 197%;
  line-height: 1.2;
}

.intro-section .panel1 .intro-image{
  padding-right: 30px;
  width:80%;
}
.intro-section .panel1 img{
  width: 100%;
}
.intro-section .panel1 p{
  color: #9d907f;
  font-size: 3vh;
  font-family: 'Avenir Next Cyr W00 Demi';
  }

.panel1 a.request-button{
  border-width: 3px;
  border-style: solid;
  border-color:#f98d00;
  color: #f98d00;
  background-color:#433252;
  text-decoration:none;
  padding:15px 30px 18px;
  border-radius: 5px;
  font-size: 100%;
}

.panel1 a.request-button:hover {
  background-color: #f98d00;
  border-color: #f98d00;
  color:#433252;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
/*  -moz-box-shadow: 0px 0px 7px #9d907f;
  -webkit-box-shadow: 0px 0px 7px #9d907f;
  box-shadow: 0px 0px 7px #9d907f;*/
}

.intro-section .panel2 img{
  width:800px;
}

.intro-section .panel2 p{
  font-size: 200%;
  font-weight: bold;
  line-height: 1.2;
  color: #ebe2d1;
  width:390px;
  margin: 60px auto 0;
}

.intro-section .panel3 p{
  font-family:'Avenir Next Cyr W00 Demi';
  line-height: 1.2;
  font-size: 42px;
  color: #433252;
  margin-bottom:30px;
}

.signup-link {
  color: #faa42c !important;
}

.astronomer-link {
  text-decoration: none;
  color: #009c8d;
}

.astronomer-link:hover {
  color: #f3d1a5;
}
.astronomer-link .material-icons {
  position: relative;
  top: 6px;
  color: #f98d00;
  }
.astronomer-link .material-icons {
  position: relative;
  top: 6px;
  color: #009c8d;
  }
.astronomer-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}
.astronomer-alt-link:hover {
  color: #00bfa5 !important;
}
.astronomer-alt-link .material-icons {
  position: relative;
  top: 6px;
}

.post-layout {
  max-width: 1200px;
  margin: 0 auto;
}

.mdl-card__actions .astronomer-link,
.mdl-card__actions .material-icons {
  color: #f46100;
}

.visit-blog{
  text-align: right;
  font-weight: bold;
  font-size: 25px;
  padding-right: 90px;
  padding-bottom:50px;
  position: relative;
}

.visit-blog .astronomer-link,
.visit-blog .material-icons{
  color: #1a181e;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.visit-blog .astronomer-link:hover{
}

.astronomer-blog-section {
  background: url('/material/assets/images/blog-background.png');
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.astronomer-blog-section .astronomer-badge {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 88px;
  max-height: 88px;
  padding-top: 40px;
}



.astronomer-blog-section .astronomer-section-title {
  text-align: left;
  margin-left: 10%;
  padding-bottom: 12px;
}

.astronomer-card-container {
  position: relative;
  margin-left: 7%
}

.post-cell{
  margin:2%;
  width: 280px;
  background-color: #F9E6CA;
}

.astronomer-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}
.astronomer-card-container .mdl-card__media img {
    width: 100%;
}
.astronomer-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}
.astronomer-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}
.astronomer-card-container .mdl-card__title-text a {
  text-decoration: none;
  color: #241f2e;
}

.astronomer-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 48px;
}
.astronomer-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}
.astronomer-card-container .mdl-card__actions a {
  border-top: none;
  line-height: 32px;
  font-size: 16px;
}

/* BLOG LIST */

.astronomer-more-section{
  padding: 10% 10% 10% 10%;
  margin-top: -80px;
  background-size: auto 100%;
  color: #f1d3ac;
}

.astronomer-more-section .post-excerpt{
  margin-top: 5%;

}

.astronomer-more-section .post-excerpt h2{
  padding-left: 20px;
}

.astronomer-more-section .post-excerpt p{
  padding-left: 20px;
  padding-right: 20px;
}

.astronomer-more-section .post-excerpt a{
  position: relative;
  left: 20px;
  bottom: 10px;
  text-decoration: none;
  color: #f98d00;
  font-size: 20px;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.astronomer-more-section .post-excerpt a:hover{
  color: #f3d1a5;
}


/* BLOG POSTS */

.astronomer-content .content{
  color: #f1d3ac;
  max-width: 800px;
  margin: 0 auto;
}

.content article {
  padding: 40px 0;
}


.astronomer-content .astronomer-mobile-title {
  position: relative;
  top: 120px;
}

.astronomer-content .post-content h2 {
  position: relative;
  font-size: 40px;
}

.astronomer-content .post-content h3 {
  position: relative;
  font-size: 35px;
}

.astronomer-content .post-content h4 {
  position: relative;
  font-size: 30px;
}

.astronomer-content .post-content h5 {
  position: relative;
  font-size: 25px;
}

.astronomer-content .post-content h6 {
  position: relative;
  font-size: 20px;
}

.astronomer-content .post-content p {
  font-size: 20px;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 30px;
}

.astronomer-content .post-content ul, ol {
  font-size: 22px;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 30px;
}

.astronomer-content .post-content li {
  margin-left: 30px;
  margin-bottom: 12px;
  padding-top: 2px;
}

.astronomer-content .post-content a {
  text-decoration: none;
  color: #f98d00;
}
.astronomer-content .post-content img{
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.astronomer-content .post-content table{
  width: 80%;
  left: 7%;
  position: relative;
  background: transparent;
}

.post .article-image {
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .post .article-image .post-image-image {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -9999px;
    padding-top: 33%;
    z-index: 1; }
  .post .article-image .post-meta {
    position: absolute;
    bottom: 80px;
    left: 22%;
    right: 22%;
    z-index: 999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media only screen and (max-width: 800px) {
      .article-image .post-meta {
        left: 16px;
        right: 16px; } }
  .post .article-image .post-title {
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.04em;
    font-size: 50px;
    line-height: 1.1;
    color: white;
    margin-bottom: 16px;
    text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5); }
  .post .article-image .author-image {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
    margin-bottom: -10px;
    float: left;
    background-size: cover;
    border-radius: 100%;
    text-indent: -9999px; }
  .post .article-image .author-name {
    display: inline; }
  .post .article-image .post-meta-text {
    color: rgba(255, 255, 255, 0.75);
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 0px 1px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .post .article-image .post-meta-text a {
      color: rgba(255, 255, 255, 0.75); }
      .post .article-image .post-meta-text a:hover {
        color: white; }
  .post .article-image .fa-angle-down {
    font-size: 32px;
    margin: 64px auto 0;
    color: rgba(255, 255, 255, 0.75); }
    .post .article-image .fa-angle-down:hover {
      color: white; }
  .post .article-image .topofpage {
    text-decoration: underline; }


/*About Page*/
.about-page{
  background-color: #ebe2d0;
  position: relative;
  height: 100%;
}

.about-header h3{
  padding-top: 5%;
  text-align: center;
  font-size: 3.5em;
  line-height: 1.2em;
  font-family:'Avenir Next Cyr W00 Demi';
  color: #433251;
  margin-left: 20%;
  margin-right: 20%;
}

.about-subheader h4{
  padding-top: 1%;
  text-align: center;
  font-size: 1.5em;
  color:#65615B;
  margin-left: 20%;
  margin-right: 20%;
}

.about-subheader h4 a{
  text-decoration: none;
  color: #433251;
}

.about-page .headshots{
  padding-top: 2%;
  max-width: 800px;
  margin:0 auto;
}

.headshot-group{
  text-align: center;
}

.headshot-person{
  display:inline-block;
  margin:auto;
  text-align: center;
  padding: 4em 2% 0;
}

.about-page .headshots img{
  width: auto;
  max-width: 200px;
}

.details{
  padding-top: 1em;
}

.headshot-name{
  color:#433251;
  padding-top: 1em;
  font-size: 1.5em;
  font-family:'Avenir Next Cyr W00 Demi';
}

.headshot-title{
  color:#65615B;
  padding-top: 1em;
  font-size: 1.25em;
  font-family: "Avenir Next";
}

.about-investors h3{
  padding-top: 5%;
  margin-bottom: -1%;
  text-align: center;
  font-size: 34px;
  line-height: 8vh;
  font-family:'Avenir Next Cyr W00 Demi';
  color: #433251;
  margin-left: 20%;
  margin-right: 20%;
}

.investor-logos {
  text-align: center;
  max-width: 800px;
  margin: 0px auto 50px;
}
.investor-logos div {
  display:inline-block;
  margin:auto;
  text-align: center;
  padding: 4em 2% 0;
}

.investor-logos img {
  width: 200px;
}


/*Integration Page*/

.integrations-page {
  padding: 0% 12%;
  background-color: #EBE2D0;
}


.integrations-page .integrations h1{
  text-align: center;
  padding-top: 5vh;
  color: #9D907E;
  font-family:'Avenir Next Cyr W00 Demi';
}

.integrations-page h3{
  color:#9d907f;
  font-size: 3em;
  display: inline;
}


.integration{
  background-color: #F5F1E5;
  display: inline-block;
  width:auto;
  max-width: 250px;
  margin-top: 0.4em;
  margin-right: 0.1em;
}

.integration img{
  width:100%;
}

.integrations{
  text-align: center;
}

/*
.integrations ul{
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
}

.integrations ul li{
  display:inline;
  padding: 0 15px 0 0;
  font-size: 18px;
}*/

.integration a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  color:#f3d1a5;
}
.integration a:hover{
  color:#ffffff;
}


/*ERROR - 404*/
.error-page{
  position: relative;
  height: 90vh;
  width: 100%
}
.error-page .landing-page-form {
  position: absolute;
  padding-top:30vh;
  text-align: left;
  padding-left: 10%;
  width: 100%;
}
.error-message .error-text img{
  position: relative;
  width:700px;
  display: block;
  margin: 0 auto;
  top: -60px;
  left:-11%;
  min-width: 300px;
}



/* FOOTER */
.astronomer-footer {
  background-color: #33263e;
}

.footer-sub-left{
  padding-left: 1vw;
  padding-top: 3vh;
}
.footer-sub-middle,
.footer-sub-right {
  padding-left: 3vw;
  padding-top: 3vh;
}

.footer-logo{
  margin-top: -18px;
  -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
   -moz-transform: scale(0.5); /* FF3.5+ */
    -ms-transform: scale(0.5); /* IE9 */
     -o-transform: scale(0.5); /* Opera 10.5+ */
        transform: scale(0.5);
}

.mdl-mega-footer--right-section {
  padding-top: 1.45vh;
}

.footer-options {
  color: #9d907f;

}
.astronomer-footer a{
  color: #9d907f;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.astronomer-footer a{
  text-decoration: none;
}
.astronomer-footer a:hover{
  color: #f3d1a5;
}

.astronomer-footer p{
  line-height: 1.3em;
}

.astronomer-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}
.astronomer-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}
.astronomer-footer .mdl-mega-footer--bottom-section {
  position: relative;
}
.astronomer-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}
.astronomer-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}
.astronomer-link-menu:hover {
  cursor: pointer;
}


.panel3 a.request-button {
  text-decoration:none;
  padding:15px 30px 18px;
  background-color: #433252;
  color:#FFF;
  border-radius: 5px;
  font-size: 100%;
}
.panel3 a.request-button:hover {
  background-color: #513b5b;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}


/**** Mobile layout ****/
@media (max-width: 900px) {

  .intro-section p{
    font-size: 120%;
    font-weight: bold;
    line-height: 1.2;
    width:107%;
  }

  a.request-button {
    text-decoration:none;
    padding:15px 30px 18px;
    font-size: 80%;
    background-color: #433252;
    color:#FFF;
    border-radius: 5px;
  }

  .astronomer-navigation-container {
    display: none;
  }

  .astronomer-drawer{
    overflow: hidden;
  }

  .astronomer-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 95px);
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .astronomer-title {
    width: 100%;
    text-align: right;
  }
  .astronomer-logo-image {
    width:150px;
/*    padding-top: 15px;
*/    margin-top: -20px;

  }
  .intro-section .panel1 div{
    margin: 0 auto;
  }

  .intro-section .intro-image{
  padding-right: 0px;
  }

  .intro-section .intro-image img{
    margin: 0 auto;
  }

  .intro-section .intro-text{
    padding-top:3em;
  }
  .intro-section .intro-text p{
    text-align: center;
    max-width: 100%
  }


  .intro-section .panel2 img{
    width: 100%;
  }

  .intro-section .panel2 p{
    font-size: 21px;
    font-weight: bold;
    line-height: 1.2;
    max-width: 100%;
    padding-left: 0%;
  }

  .intro-section .panel3 p {
    font-size: 21px;
    text-align: center;
    max-width: 100%;
  }

  .mdl-layout__drawer-button {
    display: block;
    background: transparent;
    color: #767777;
    padding-top: 5px;
  }

  .astronomer-blog-section .astronomer-section-title {
    margin-left: 2%;
  }

  .astronomer-card-container {
    margin-left: 0%;
  }

  .post-content{
    padding-top: 10%;
  }

  .astronomer-content{
    -webkit-overflow-scrolling: touch;
  }

  .astronomer-content .content{
    position: relative;
    background-size: auto 110%;
  }
  
  .astronomer-content .post-content{
    max-width:800px;
    margin: 0 auto;
    color: #9d907f;
    position: relative;
  }

  .astronomer-content .astronomer-mobile-title {
    position: relative;
    top: 120px;
  }

  .astronomer-content .post-content h2 {
    position: relative;
    font-size: 40px;
  }

  .astronomer-content .post-content h3 {
    position: relative;
    font-size: 35px;
  }

  .astronomer-content .post-content h4 {
    position: relative;
    font-size: 30px;
  }

  .astronomer-content .post-content h5 {
    position: relative;
    font-size: 25px;
  }

  .astronomer-content .post-content h6 {
    position: relative;
    font-size: 20px;
  }

  .astronomer-content .post-content p {
    font-size: 12px;
    position: relative;
  }

  .astronomer-content .post-content a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: #f98d00;
  }
  .astronomer-content .post-content img{
    max-width: 100%;
    position: relative;
    margin-bottom: 30px;
  }

  .astronomer-content .post-content table{
    width: 40%;
    position: relative;
    background: transparent;
  }


  .error-message .error-text img{
    width: 315px;
  }

  /*About section - mobile*/

  .about-header h3{
    padding-top: 40px;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.2em;
    margin-left: 10%;
    margin-right: 10%;
    font-family:'Avenir Next Cyr W00 Demi';
  }

  .about-subheader h4{
    padding-top: 1%;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-left: 10%;
    margin-right: 10%;
  }


  .headshot-person{
    display:inline-block;
    margin:auto;
    text-align: center;
    padding-top: 4em;
    padding-left: 0%;
  }
  .about-investors h3{
    font-size: 24px;
  }

  .investor-logos img{
    width: 150px;
  }
  .investor-logos div{
    padding-top: 2em;
  }

  /*Integrations Page*/
  .integrations{
    text-align: center;
  }

.astronomer-footer p {
  line-height: 0.5em;
}
  .astronomer-footer .footer-logo{
    position: absolute;
    margin-bottom: -30px;
  }

  .astronomer-footer .footer-options{
    padding-top: 15%;
  }

  .astronomer-footer .mdl-mega-footer--bottom-section {
    display: none;
  }

  .footer-logo {
    display: none;
  }

  .footer-sub-middle, .footer-sub-right {
    padding-left: 0 !important;
  }

  .panel1 a.request-button{
    font-size: 50%;
  }
  .panel3 a.request-button{
    font-size: 50%;
  }
}

