<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{@blog.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{@blog.title}}</title>
    <link rel="shortcut icon" href="/material/assets/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.css">
    <link rel="stylesheet" href="/material/styles.css">
    {{ghost_head}}
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {{> header}}
      <div class="astronomer-content mdl-layout__content">
        {{{body}}}
        {{> footer}}
      </div>
    </div>

    <script src="/material/material.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script>
            $(".astronomer-fab").click(function() {
            $(this).animate({
                scrollTop: $(".astronomer-more-section").offset().top
            }, 2000);
        });
    </script>
  </body>
</html>
