{{!< default}}

<a name="top"></a>

<div class="error-page">
	{{> sky}}
	<div class="landing-page-form">
		<div class="error-message">
			<span class="error-text">
				<img src="/material/assets/images/404-message.png">
			</span>
		</div>
	</div>
	<div class="horizon-line">
		<span>
			<img class="horizon-line" src="/material/assets/images/horizon-line.png">
		</span>
	</div>
</div>
