{{!< default}}

<a name="top"></a>

<div>



	<div style="position: relative; height:800px;">
	  {{> sky}}
	  <div class="astronomer-info" style="height: 300px;">
	    <span>
	      <img class="horizon-line" src="/material/assets/images/horizon-line.png">
	    </span>
	  </div>
	  <div class="error-message">
	    <span class="error-text">
	  	  <img src="/material/assets/images/404-message.png">
	    </span>
	  </div>
	</div>
</div>