{{!< default}}

<a name="top"></a>

  {{> sky}}
  
<div class="landing-page-form">
  <p class="astronomer-slogan">We Make Customer Data Simple</p>
  <form action="#"class="astronomer-email-form">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="email-list" />
      <label class=" mdl-textfield__label" for="email-list">Email Address...</label>
    </div>
  </form>
  <button class="astronomer-email-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    Sign Up
  </button>
</div>


<div class="astronomer-more-section">
  <a name="more"></a>
  <div class="astronomer-section-title mdl-typography--display-1-color-contrast">More from astronomer</div>
  <div class="astronomer-card-container mdl-grid">
    {{#foreach posts}}
      {{> post_card }}
    {{/foreach}}
  </div>
</div>
