{{!< default}}

<a name="top"></a>
<div class="intro-section">
  <table>
    <tr>
      <td>
        <img src="/assets/img/bigdatasphere.png" style="width:400px;">
      </td>
      <td style="width: 50px;"></td>
      <td style="color: #9d907f;">
        <p style="font-size: 197%;font-weight: bold;line-height: 1.2;">
        With the explosion of big data,
        the <span style="color: #ef542c;font-family:'Avenir Next Cyr W00 Demi It';">data scientist</span> has become a
        game-changer in big companies.
        And a new, crucial supporting role
        has emerged: <span style="color: #faa42c;font-family:'Avenir Next Cyr W00 Demi It';">the data engineer</span>.
        </p>

        <p style="font-size: 195%;font-weight: bold;line-height: 1.2;">
        The data engineer's job is to get
        the data ready, into one place,
        and accessible for the data scientist.
        </p>

        <p style="color: #ebe2d1;font-size: 195%;font-weight: bold;line-height: 1.2;">
        We help them make that happen.
        </p>

      </td>
    </tr>
  </table>
</div>

<div class="intro-section" style="background-color: #9d907f;text-align: center;">
  <img src="/material/assets/images/product.png" style="width:800px;">

  <p style="font-size: 197%;font-weight: bold;line-height: 1.2;color: #ebe2d1;width:390px;margin: 60px auto 0;">
    We've prewritten a lot of code that connects to common data sources.
    You simply configure how your data is stored.
  </p>
</div>

<div class="intro-section" style="padding: 13%;background-color: #faa42c;text-align: center;">

  <p style="font-size: 42px;font-family:'Avenir Next Cyr W00 Demi';line-height: 1.2;color: #433252;margin-bottom:30px;">
    Want to learn more?
  </p>
  <p style="font-size: 32px;font-family:'Avenir Next Cyr W00 Demi';line-height: 1.2;">
    <a class="request-button" href="https://tim229.typeform.com/to/MnzsbB">Request a Demo</a>
  </p>

</div>
