{{!< default}}

<a name="top"></a>
<div>
  {{> sky}}
  <span class="astronomer-mobile-title mdl-layout-title">
      <img class="astronomer-logo-image" src="/material/assets/images/astronomer-logo.png">
  </span>

  <div class="landing-page-form">
    <p class="astronomer-slogan">What do you want to do with your customer data? Take our free five-day crash course, to learn what's possible.</p>
    <form action="https://www.getdrip.com/forms/5672438/submissions" method="post" data-drip-embedded-form="5672438" class="astronomer-email-form">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input astronomer-textfield__input " type="email" name="fields[email]" id="email-list" />
        <label class="mdl-textfield__label astronomer-textfield__label" for="email-list">Enter email...</label>
      </div>
      <div>
        <input class="astronomer-email-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
          type="submit" name="submit" value="Start" data-drip-attribute="sign-up-button" />
      </div>
    </form>
  </div>
  {{>info}}
  {{> blog}}

</div>
