{{!< default}}

<a name="top"></a>
<div>
  {{> sky}}
  <div class="landing-page-form">
    <p class="astronomer-slogan">Take our course on the basics of customer data and analytics. You'll learn a lot and it's free.</p>
    <form action="#"class="astronomer-email-form">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input astronomer-textfield__input " type="text" id="email-list" />
        <label class="mdl-textfield__label astronomer-textfield__label" for="email-list">Enter email...</label>
      </div>
    </form>
    <button class="astronomer-email-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Submit
    </button>
  </div>
</div>

{{>info}}

<div class="astronomer-more-section">
  <a name="more"></a>
  <div class="astronomer-section-title mdl-typography--display-1-color-contrast">More from astronomer</div>
  <div class="astronomer-card-container mdl-grid">
    {{#foreach posts}}
      {{> post_card }}
    {{/foreach}}
  </div>
</div>
