{{!< default}}

<a name="top"></a>
<div style="position: relative;">
  {{> sky}}
  <div class="landing-page-form">
    <p class="astronomer-slogan">
      The <br>
      <span style="color:#F2471C">Modern</span><br>
      <span style="color:#038F94">Data</span><br>
      <span style="color:#FCA60D">Engineering</span><br>
      Platform.
    </p>
    <a href="https://app.astronomer.io/signup" class="astronomer-email-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><span>Join the Waitlist</span></a>
  </div>
  {{> info}}
  {{> pricing}}
</div>
