{{!< default}}

<a name="top"></a>
<div class="intro-section">
  <div class="panel1 mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="intro-image">
        <img src="/assets/img/bigdatasphere.png">
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--middle">
      <div class="intro-text">
        <p>
        With the explosion of big data,
        the <span style="color: #ef542c;font-family:'Avenir Next Cyr W00 Demi It';">data scientist</span> has become a
        game-changer in big companies.
        And a new, crucial supporting role
        has emerged: <span style="color: #faa42c;font-family:'Avenir Next Cyr W00 Demi It';">the data engineer</span>.
        </p>
        <p>
        The data engineer's job is to get
        the data ready, into one place,
        and accessible for the data scientist.
        </p>
        <p>
        <span style="color: #ece3d0;">We help them make that happen.</span>
        </p>
      </div>
    </div>
  </div>


</div>

<div class="intro-section" style="background-color: #9d907f;text-align: center;">
  <div class="panel2">
    <img src="/material/assets/images/product.png">
    <p>
      We've prewritten a lot of code that connects to common data sources.
      You simply configure how your data is stored.
    </p>
  </div>
</div>

<div class="intro-section" style="padding: 13%;background-color: #faa42c;text-align: center;">
  <div class="panel3">
    <p>
      Want to learn more?
    </p>
    <p style="font-size: 32px;">
      <a class="request-button" href="https://tim229.typeform.com/to/MnzsbB">Request a Demo</a>
    </p>
  </div>
</div>
