{{!< default}}

<a name="top"></a>
{{> sky}}


<div class="astronomer-more-section">
  <a name="more"></a>
  <div class="astronomer-section-title mdl-typography--display-1-color-contrast">More from astronomer</div>
  <div class="astronomer-card-container mdl-grid">
    {{#foreach posts}}
      {{> post_card }}
    {{/foreach}}
  </div>
</div>
