{{!< default}}

<a name="top"></a>
<div style="position: relative; height:800px;">
  {{> sky}}

  <div class="landing-page-form">
    <p class="astronomer-slogan">
      Thank you!
      If you were actually looking for a crash course in Astronomy,
      the study of our universe,
      <a href="https://www.youtube.com/watch?v=0rHUDWjR5gg">go here</a>.
    </p>
  </div>

  <div class="astronomer-info" style="height: 300px;">
    <span>
      <img class="horizon-line" src="/material/assets/images/horizon-line.png">
    </span>
  </div>
</div>
