{{!< default}}

<a name="top"></a>
<div class="astronomer-more-section">
  <a name="more"></a>
  <div class="astronomer-section-title mdl-typography--display-1-color-contrast">From the Astronomers</div>
  {{> posts_list}}

</div>
