{{!< default}}

<a name="top"></a>
<div class="integrations-page">
  <div class="integrations" style="position: absolute; padding-top:18vh; text-align:left; padding-left:19%; width:100%;">
      <p style="width:62%; margin-top:50px; position: center; color: #f3d1a5; font-size:20px;line-height:28px;">
      Astronomer has a number of integrations with 3rd party platforms currently available. We are working on additional integrations and prioritize this work based on requests. If you are interested in using an integration that you don't see below, please <a href="mailto:ben@astronomer.io" style="color: #f98d00; text-decoration: none;">inquire for details</a>.
      </p>
      <br>
      
      <h3>Messaging</h3>
      <ul class="marketing-integrations">
        <li class="integration">
            <a href="http://getlifecycle.com">Lifecycle</a>
        </li>
        <br>
        <li class="integration">
            <a href="http://klaviyo.com">Klaviyo</a>
        </li>
        <br>
        <li class="integration">
            <a href="https://threads.io">Threads</a>
        </li>
        <br>
        <li class="integration">
            <a href="http://getvero.com">Vero</a>
        </li>
      </ul>
      <br>
      
      <h3>Web Analytics</h3>
      <ul class="web-integrations">
        <li class="integration">
            <a href="http://google.com/analytics">Google Analytics</a>
        </li>
      </ul>
      <br>
      
      <h3>Event based Analytics</h3>
      <ul class="user-integrations">
        <li class="integration">
            <a href="http://calq.io">Calq</a>
        </li>
        <br>
        <li class="integration">
          <a href="http://heapanalytics.com">Heap</a>
        </li>
        <br>
        <li class="integration">
            <a href="http://keen.io">Keen IO</a>
        </li>
        <br>
        <li class="integration">
            <a href="http://kissmetrics.com">Kissmetrics</a>
        </li>
        <br>
        <li class="integration">
            <a href="https://www.getlytics.com">Lytics</a> 
        </li>
        <br>
        <li class="integration">
            <a href="http://www.mixpanel.com">Mixpanel</a>
        </li>
        <br>
        <li class="integration">
            <a href="https://www.woopra.com/">Woopra</a>
        </li>
      </ul>
      <br>

      <h3>CRM/Customer Support</h3>
      <ul class="user-integrations">
        <li class="integration">
            <a href="http://customer.io">Customer.io</a>
        </li>
        <br>
        <li class="integration">
            <a href="http://intercom.io">Intercom</a>
        </li>
        <br>
        <li class="integration">
            <a href="http://hubspot.com">Hubspot</a>
        </li>
        <br>
      </ul>

      <h3>SQL</h3>
      <ul class="SQL-integrations">
        <li class="integration">
            <a href="http://aws.amazon.com/redshift">Amazon Redshift</a>
        </li>
        <br>
        <li class="integration">
            <a href="http://amplitude.com">Amplitude</a>
        </li>
      </ul>
       <br>

      <h3>System Monitoring</h3>
      <ul class="monitor-integrations">
        <li class="integration">
            <a href="http://librato.com">Librato</a>
        </li>
      </ul> 
      <br>

      <h3>Custom</h3>
      <ul class="custom-integrations">
        <li class="integration">
            <a href="http://www.webhooks.org/">Webhooks</a>
        </li>
        <br>
      </ul>
  </div>
</div>
