{{!< default}}

<a name="top"></a>
<div class="integrations-page">
  <div class="integrations" style="color: #f3d1a5;">
      <h1>
<!--         Astronomer Integrations
 -->      </h1>

      <h3>Ingestion</h3>
      <div style="padding-top:1em;"></div>
      <div class="ingestion">
        <div class="integration">
            <a href="http://docs.astronomer.io/docs/analyticsjs"><img src="/material/assets/images/integrations/javascript.png"></a>
        </div>
        <div class="integration">
            <a href="http://docs.astronomer.io/docs/node"><img src="/material/assets/images/integrations/nodejs.png"></a>
        </div>
        <div class="integration">
            <a href="http://docs.astronomer.io/docs/php"><img src="/material/assets/images/integrations/php.png"></a>
        </div>
        <div class="integration">
            <a href="http://docs.astronomer.io/docs/meteor-auto-events-package"><img src="/material/assets/images/integrations/meteor.png"></a>
        </div>
        <div class="integration">
            <a href="http://docs.astronomer.io/docs/http-api"><img src="/material/assets/images/integrations/httpapi.png"></a>
        </div>
        <div class="integration">
            <a href="http://docs.astronomer.io/docs/segment-webhook"><img src="/material/assets/images/integrations/segment.png"></a>
        </div>
      </div>
      <div style="padding-top:5em;"></div>
      <h3>Destinations</h3>
      <div style="padding-top:1em;"></div>
      <div class="destinations">
          <div class="integration">
              <a href="http://aws.amazon.com/redshift"><img src="/material/assets/images/integrations/amazonredshift.png"></a>
          </div>
          <div class="integration">
              <a href="http://keen.io"><img src="/material/assets/images/integrations/keenio.png"></a>
          </div>
          <div class="integration">
              <a href="http://google.com/analytics"><img src="/material/assets/images/integrations/googleanalytics.png"></a>
          </div>
          <div class="integration">
              <a href="http://calq.io"><img src="/material/assets/images/integrations/calq.png"></a>
          </div>
          <div class="integration">
              <a href="http://heapanalytics.com"><img src="/material/assets/images/integrations/heap.png"></a>
          </div>
          <div class="integration">
              <a href="http://kissmetrics.com"><img src="/material/assets/images/integrations/kissmetrics.png"></a>
          </div>
          <div class="integration">
              <a href="https://www.getlytics.com"><img src="/material/assets/images/integrations/lytics.png"></a>
          </div>
          <div class="integration">
              <a href="http://mixpanel.com"><img src="/material/assets/images/integrations/mixpanel.png"></a>
          </div>
          <div class="integration">
              <a href="https://www.woopra.com/"><img src="/material/assets/images/integrations/woopra.png"></a>
          </div>
          <div class="integration">
              <a href="hhttp://amplitude.com"><img src="/material/assets/images/integrations/amplitude.png"></a>
          </div>
          <div class="integration">
              <a href="hhttp://threads.io"><img src="/material/assets/images/integrations/threads.png"></a>
          </div>
          <div class="integration">
              <a href="hhttp://getvero.com"><img src="/material/assets/images/integrations/vero.png"></a>
          </div>
          <div class="integration">
              <a href="hhttp://getlifecycle.com"><img src="/material/assets/images/integrations/lifecycle.png"></a>
          </div>
          <div class="integration">
              <a href="hhttp://klaviyo.com"><img src="/material/assets/images/integrations/klaviyo.png"></a>
          </div>
          <div class="integration">
              <a href="hhttp://customer.io"><img src="/material/assets/images/integrations/customerio.png"></a>
          </div>
          <div class="integration">
              <a href="hhttp://intercom.io"><img src="/material/assets/images/integrations/intercom.png"></a>
          </div>
          <div class="integration">
              <a href="hhttp://hubspot.com"><img src="/material/assets/images/integrations/hubspot.png"></a>
          </div>
          <div class="integration">
          <a href="hhttp://librato.com"><img src="/material/assets/images/integrations/librato.png"></a>
          </div>
      </div>

  </div>
  <div style="height:5em;">
  </div>
</div>
