{{!< default}}

<a name="top"></a>
<div class="integrations-page">
  <div class="integrations" style="color: #f3d1a5;">
      <h1>
        Astronomer Integrations
      </h1>

      <h3>Ingestion</h3>
      <ul class="custom-integrations">
        <li class="integration">
            <a href="http://docs.astronomer.io/docs/analyticsjs">Javascript</a>
        </li>
        <li class="integration">
            <a href="http://docs.astronomer.io/docs/php">PHP</a>
        </li>
        <li class="integration">
            <a href="http://docs.astronomer.io/docs/nodejs">Node.js</a>
        </li>
        <li class="integration">
            <a href="http://docs.astronomer.io/docs/meteor-auto-events-package">Meteor</a>
        </li>
        <li class="integration">
            <a href="http://docs.astronomer.io/docs/http-api">HTTP API</a>
        </li>
        <li class="integration">
            <a href="http://docs.astronomer.io/docs/segment-webhook">Segment</a>
        </li>
      </ul>

      <h3>Data Warehousing</h3>
      <ul class="SQL-integrations">
        <li class="integration">
            <a href="http://aws.amazon.com/redshift">Amazon Redshift</a>
        </li>
        <li class="integration">
            <a href="http://keen.io">Keen IO</a>
        </li>
      </ul>

      <h3>Analytics</h3>
      <ul class="user-integrations">
        <li class="integration">
            <a href="http://google.com/analytics">Google Analytics</a>
        </li>
        <li class="integration">
            <a href="http://calq.io">Calq</a>
        </li>
        <li class="integration">
          <a href="http://heapanalytics.com">Heap</a>
        </li>
        <li class="integration">
            <a href="http://kissmetrics.com">Kissmetrics</a>
        </li>
        <li class="integration">
            <a href="https://www.getlytics.com">Lytics</a>
        </li>
        <li class="integration">
            <a href="http://www.mixpanel.com">Mixpanel</a>
        </li>
        <li class="integration">
            <a href="https://www.woopra.com/">Woopra</a>
        </li>
        <li class="integration">
            <a href="http://amplitude.com">Amplitude</a>
        </li>
      </ul>

      <h3>Messaging</h3>
      <ul class="marketing-integrations">
        <li class="integration">
            <a href="https://threads.io">Threads</a>
        </li>
        <li class="integration">
            <a href="http://getvero.com">Vero</a>
        </li>
        <li class="integration">
            <a href="http://getlifecycle.com">Lifecycle</a>
        </li>
        <li class="integration">
            <a href="http://klaviyo.com">Klaviyo</a>
        </li>
      </ul>

      <h3>CRM/Customer Support</h3>
      <ul class="user-integrations">
        <li class="integration">
            <a href="http://customer.io">Customer.io</a>
        </li>
        <li class="integration">
            <a href="http://intercom.io">Intercom</a>
        </li>
        <li class="integration">
            <a href="http://hubspot.com">Hubspot</a>
        </li>
      </ul>

      <h3>System Monitoring</h3>
      <ul class="monitor-integrations">
        <li class="integration">
            <a href="http://librato.com">Librato</a>
        </li>
      </ul>

  </div>
</div>
