{{!< default}}

<a name="top"></a>
<div class="integrations-page">
  <div class="integrations" style="color: #f3d1a5;">
      <h1>
        Astronomer Integrations
      </h1>

      <h3>Ingestion</h3>
      <div class="custom-integrations">
        <div class="integration">
            <a href="http://docs.astronomer.io/docs/analyticsjs"><img src="/material/assets/images/integrations/javascript.png"></a>
        </div>
        <div class="integration">
            <a href="http://docs.astronomer.io/docs/php"><img src="/material/assets/images/integrations/php.png"></a>
        </div>
        <div class="integration">
            <a href="http://docs.astronomer.io/docs/node"><img src="/material/assets/images/integrations/nodejs.png"></a>
        </div>
        <div class="integration">
            <a href="http://docs.astronomer.io/docs/meteor-auto-events-package"><img src="/material/assets/images/integrations/meteor.png"></a>
        </div>
        <div class="integration">
            <a style="font-size:3em;" href="http://docs.astronomer.io/docs/http-api">HTTP API</a>
        </div>
        <div class="integration">
            <a href="http://docs.astronomer.io/docs/segment-webhook">Webhook</a>
        </div>
      </div>

      <h3>Data Warehousing</h3>
      <div class="SQL-integrations">
        <div class="integration">
            <a href="http://aws.amazon.com/redshift"><img src="/material/assets/images/integrations/amazonredshift.png"></a>
        </div>
        <div class="integration">
            <a href="http://keen.io"><img src="/material/assets/images/integrations/keenio.png"></a>
        </div>
      </div>

      <h3>Analytics</h3>
      <div class="user-integrations">
        <div class="integration">
            <a href="http://google.com/analytics"><img src="/material/assets/images/integrations/googleanalytics.png"></a>
        </div>
        <div class="integration">
            <a href="http://calq.io">Calq</a>
        </div>
        <div class="integration">
          <a href="http://heapanalytics.com">Heap</a>
        </div>
        <div class="integration">
            <a href="http://kissmetrics.com">Kissmetrics</a>
        </div>
        <div class="integration">
            <a href="https://www.getlytics.com">Lytics</a>
        </div>
        <div class="integration">
            <a href="http://mixpanel"><img src="/material/assets/images/integrations/mixpanel.png"></a>
        </div>
        <div class="integration">
            <a href="https://www.woopra.com/">Woopra</a>
        </div>
        <div class="integration">
            <a href="http://amplitude.com">Amplitude</a>
        </div>
      </div>

      <h3>Messaging</h3>
      <div class="marketing-integrations">
        <div class="integration">
            <a href="https://threads.io">Threads</a>
        </div>
        <div class="integration">
            <a href="http://getvero.com">Vero</a>
        </div>
        <div class="integration">
            <a href="http://getlifecycle.com">Lifecycle</a>
        </div>
        <div class="integration">
            <a href="http://klaviyo.com">Klaviyo</a>
        </div>
      </div>

      <h3>CRM/Customer Support</h3>
      <div class="user-integrations">
        <div class="integration">
            <a href="http://customer.io">Customer.io</a>
        </div>
        <div class="integration">
            <a href="http://intercom.io">Intercom</a>
        </div>
        <div class="integration">
            <a href="http://hubspot.com">Hubspot</a>
        </div>
      </div>

      <h3>System Monitoring</h3>
      <div class="monitor-integrations">
        <div class="integration">
            <a href="http://librato.com">Librato</a>
        </div>
      </div>

  </div>
</div>
