{{!< default}}

<a name="top"></a>
<div class="pricing-page" style="position: relative; height:90vh;">
  <div class="pricing" style="position: absolute; padding-top:18vh; text-align:left; padding-left:19%; height:90vh; width:100%;">
      <table style="width:62%;">
        <tr><td valign="top" style="color: #f3d1a5; font-size:24px;line-height:28px;">
        <h3 style="font-size: 35px;">Under 1M events/mo</h3>
        Free.
        </td>
        <td width=4%></td>
        <td valign="top"  style="color: #f3d1a5; font-size:24px;line-height:28px; text-align:right">
        <h3 style="font-size: 35px;">Over 1M events/mo</h3>
        $20/million events processed.
        <br />
        <br />
        <i style="font-size:55%;">Discount available for annual commitment and prepay.</i>
        </td></tr>
      </table>
      <br>
      <br>
      <div style="width: 62%;">
        <p>
          <hr>
        </p>
      </div>
      <p style="width:62%; margin-top:50px; position: center; color: #f3d1a5; font-size:20px;line-height:28px;">
      Astronomer is also available in fixed-price, hybrid SaaS model, where we deploy the platform into an isolated virtual private cloud. <a href="mailto:support@astronomer.io" style="color: #f98d00; text-decoration: none;">Inquire for details</a>.
      </p>
  </div>
</div>
