{{!< default}}

<a name="top"></a>
<div class="about-page">
  <div class="about-header">
    <h3>
      We are the people who get <i>really</i> excited about data engineering.
    </h3>
  </div>
  <div class="about-subheader">
    <h4>
      The inspiration for Astronomer came from our own experiences building products and struggling to effectively manage the massive amounts of resulting data. We realized that the need for a simple, secure, and collaborative data platform was felt widely, extending outside of just tech startups and into the Fortune 500. With the support of some great investors and the help of the <a href="http://www.angelpad.org/" target="_blank">Angelpad Accelerator</a>, we embarked on a journey to change the way companies of all sizes think about data. 
    </h4>
  </div>
  <div class="headshots">
    <div class="headshot-group">
      <div class="headshot-person">
        <a href="https://twitter.com/rywalker"><img src="/material/assets/images/headshots/ry.png"></a><br>
        <div class="details">
          <span class="headshot-name">Ry Walker</span><br>
          <span class="headshot-title">CEO</span>
        </div>
      </div>

      <div class="headshot-person">
        <a href="https://www.linkedin.com/in/timbrunk"><img src="/material/assets/images/headshots/tim.png"></a><br>
        <div class="details">
          <span class="headshot-name">Tim Brunk</span><br>
          <span class="headshot-title">COO</span>
        </div>
      </div>

      <div class="headshot-person">
        <a href="https://twitter.com/schnierules"><img src="/material/assets/images/headshots/greg.png"></a><br>
        <div class="details">
          <span class="headshot-name">Greg Neiheisel</span><br>
          <span class="headshot-title">CTO</span>
        </div>
      </div>

      <div class="headshot-person">
        <a href="https://twitter.com/benbeingbin"><img src="/material/assets/images/headshots/ben.png"></a><br>
        <div class="details">
          <span class="headshot-name">Ben Gregory</span><br>
          <span class="headshot-title">Engineering</span>
        </div>
      </div>

      <div class="headshot-person">
        <a href="https://twitter.com/rbradkirn"><img src="/material/assets/images/headshots/brad.png"></a><br>
        <div class="details">
          <span class="headshot-name">Brad Kirn</span><br>
          <span class="headshot-title">Business Development</span>
        </div>
      </div>

      <div class="headshot-person">
        <a href="https://twitter.com/inkdryer"><img src="/material/assets/images/headshots/chris.png"></a><br>
        <div class="details">
          <span class="headshot-name">Chris Hendrixson</span><br>
          <span class="headshot-title">Design</span>
        </div>
      </div>
    </div>
  </div>
  <div class="about-investors">
    <h3>
      Investors
    </h3>
  </div>
  <div class="investor-logos">
    <div class="angelpad">
      <a href="http://angelpad.org"><img src="/material/assets/images/investors/angelpad.png"></a>
    </div>
    <div class="differential">
      <a href="http://differential.com"><img src="/material/assets/images/investors/differential.png"></a>
    </div>
    <div class="drummond">
      <a href="https://www.crunchbase.com/organization/drummond-road-capital"><img src="/material/assets/images/investors/drummondroadcapital.png"></a>
    </div>
    <div class="keen">
      <a href="http://keen.io"><img src="/material/assets/images/investors/keenio.png"></a>
    </div>
    <div class="socialstarts">
      <a href="http://socialstarts.com"><img src="/material/assets/images/investors/socialstarts.png"></a>
    </div>
  </div>
  <div style="height:5vh;">
  </div>
</div>
